* {
    margin: 0
}

.navLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-header {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: stretch; */
    margin-top: 75px;
    flex: 1;


}

header {
    background-color: #425774;
    padding-top: 20px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 100px;
    color: white;
}

.navLeft {
    justify-items: baseline;
}

.subheader-info {
    /* background-color: green; */


    /* flex-grow makes them equal spaces in the width */
    flex: 1;
}

.subheader-info .subheader-info-left {
    flex-grow: 1;
}

.subheader-info .subheader-info-right {

    color: black;
    /* height helps it to set everything to be equal height and width */
    /* height: 100%; */


}

.subheader-info-right img {
    height: 400px;
    width: 700px;
}

.logoClass {
    display: flex;

    align-items: center;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logoClass img {
    height: 40px;
    width: 40px;

}

.logoClass .nameLogo {
    margin-left: 15px;
}

.subheader-info-left {
    font-weight: bold;
    font-size: 32px;
    height: 100%;
    display: flex;
    flex-direction: column;

    /* this helps to centralize the dunder mifflin part horizonatally */
    justify-content: center;

    /* background-color: pink; */

}

.subheader-info-left button {
    background-color: #97bee3;
    align-self: flex-start;
    justify-items: flex-end;
    border-radius: 2em;
    font-size: 14px;
    border-color: #97bee3;

}

.subheader-info-left .pcStyle {
    font-weight: bold;
    font-size: 24px;
}

.sub-header p {
    line-height: 1.8;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    /* border-right: 1px solid red; */
}